@model ContactList2.Models.AddEmployeeViewModel

@{
}

<h1>Add Employees Contact No.</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label"> Name </label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label"> Contact </label>
        <input type="text" class="form-control" asp-for="ContactNo" />
    </div>

    <button type="submit" class="btn btn-primary"> Submit </button>

</form>
