@model ContactList2.Models.UpdateEmployeeViewModel

@{
}

<h1>Edit Employees Contact No.</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label"> Id </label>
        <input type="text" class="form-control" asp-for="Id" readonly />
    </div>
    <div class="mb-3">
        <label for="" class="form-label"> Name </label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label"> Contact </label>
        <input type="text" class="form-control" asp-for="ContactNo" />
    </div>

    <button type="submit" class="btn btn-primary" asp-action="Update" asp-controller="Employees"> Update </button>

    <button type="submit" class="btn btn-danger"
        asp-action="Delete" asp-controller="Employees"> Delete </button>

</form>
